.registrationBlock{
    text-align: center;
}

.registerHeader{
    font-family: "Arial Black", Gadget, sans-serif;
}

body {
   background-color: aliceblue;
}
.postTag {
    float: left;
    margin: 5px;
    cursor: pointer;
}

.likeButton {
    float: right;
    width: 20px;
    cursor: pointer;
}
textarea.commentMaker{
	resize: none;
	margin: 10px;
	width: 280px;
	height; 90px;
	background-color: #dadada; 
}
textarea.postText{
   resize: none;
   margin: 10px;
   height: 100px;
   width: 94%;
}
@media (min-width:1200px){
	.commentMaker {
		;
	}
}
textarea.commentText{
   resize: none;
   margin: 10px;
   width: 90%;
}
textarea#submitBox{
   resize: none;
   margin: 5px;
   height: 100px;
   width: 60%;
}
.avatarArea {
   margin: 10px;
   
}
.name {
   padding-left: 20px;
   font-size: 24px;
   height: 100px;
   line-height: 100px;  
   display: inline;
}
p {
   margin: 10px;
}
.postData{
  margin: 10px;
}
.likeData{
  
}
.post {
   border: 2px solid;
   border-radius: 25px;
   border-color: #b7b7b7 ;
   background-color: #ededed ;
   margin: 5px;
}
.comments {
   border: 2px solid;
   border-radius: 25px;
   border-color: #c9c9c9 ;
   background-color: lightgrey;
   margin: 5px;
   margin-left: 15;
}
button.submit {
    border: 2px solid;
    border-radius: 5px;
    border-color: #c9c9c9 ;
    color: #5a5a5a ;
    width: 35%;
    height: 100px;
    font-size: 16px;
    margin-top: 5px;
}
button {
   border: 2px solid;
   border-radius: 5px;
   border-color: #c9c9c9 ;
   color: #5a5a5a ;
   font-size: 16px;
   margin: 5px;
}
.postArea {
   clear: both;
   padding: 10px;
   border: 2px solid;
   border-radius: 25px;
   border-color: #b7b7b7 ;
   background-color: #ededed ;
   margin: 5px;
}
.poster{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}