
   
 /* Large desktops and laptops */
@media (min-width: 1200px) {
    .passwordRecovery{color: red;}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .passwordRecovery{color: blue;}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .passwordRecovery{color: green;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
   .passwordRecovery{color: purple;}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
   .passwordRecovery{color: black;}
}



.likeButton {
    float: right;
    width: 20px;
    
}
textarea{
    resize: none;
    margin: 10px;
    
    
}
.avatarArea {
    margin: 10px;
    
}
.name {
    padding-left: 20px;
    font-size: 24px;
    height: 100px;
    line-height: 100px;  
    display: inline;
}
p {
    margin: 10px;
}
.post {
    border: 2px solid;
    border-radius: 25px;
    border-color: #b7b7b7;
    background-color: #ededed;
    margin: 5px;
}
.comments {
    border: 2px solid;
    border-radius: 25px;
    border-color: #c9c9c9;
    background-color: lightgrey;
    margin: 5px;
    margin-left: 15;
}
button.submit {
    border: 2px solid;
    border-radius: 5px;
    border-color: #c9c9c9;
    color: #5a5a5a;
    height: 100px;
    width: 100px;
    font-size: 16px;
    margin-top: 10px;
}
button.edit {
    border: 2px solid;
    border-radius: 5px;
    border-color: #c9c9c9;
    color: #5a5a5a;
    font-size: 16px;
    margin-top: 10px;
}
.postArea {
    clear: both;
    margin: 10px;
}
body {
    background-color: aliceblue;
}