<article>
	<textarea rows="3" cols="50" readonly class="commentText">{{comment.text}}</textarea><br>
	<p><i>Date: {{comment.date | timeSinceDateFilter}}</i></p>
	<like-directive info="comment"></like-directive>
</article>
