<div ng-controller="FeedController"> 
    <button ng-click= "visitMyProfile()">Profile</button>
	<body>
		<div ng-repeat="post in friendsPosts" class="post">
			<post-directive info="post" name="currentUser">Please wait while the feed loads</post-directive>
		</div>
	</body>
</div>