<div ng-controller="forgotPasswordEmailControl">
       <h1 class=>Password Recovery</h1>
	   <input ng-enter="sendPasswordEmail()" type="text" ng-model="emailAddress" placeholder="Enter the email associated with your account"><br>
	   <button ng-click="sendPasswordEmail()">Submit</button><br>
</div>