<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="js/angular.js"></script>
		<script src="http://shortlinks.hope.edu/webdesign-angular-route"></script>
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.js"></script>
        <script type="application/javascript">
			var mainApp = angular.module("survevyNetwork", ['ngRoute']);
			mainApp.config(['$routeProvider', function ($routeProvider) {
				$routeProvider
					.when('/', {
						templateUrl: 'loginPage.html'
					}).when('/register', {
						templateUrl: 'registerPage.html'
				    }).when('/feed', {
                        templateUrl: 'feed.html'
                    }).when('/profile', {
                        templateUrl: 'profile.html'
                    }).when('/logout', {
                        templateUrl: 'loginPage.html'
                    }).when('/passwordrecovery', {
						templateUrl: 'forgotPasswordPage.html'
					})
                ;
			}]);
		</script>
		<script src="js/lodash.js"></script>
        <script src="js/survevy.service.js"></script>
		<script src="js/forgot_password_email.service.js"></script>
        <script src="js/login.controller.js"></script>
		<script src="js/registration.controller.js"></script>
        <script src="js/feed.controller.js"></script>
        <script src="js/profile.controller.js"></script>
		<script src="js/forgot_password.controller.js"></script>
        <script src="js/date.filter.js"></script>
		<script src="js/comment.js"></script>
		<script src="js/post.js"></script>
        <script src="js/like.js"></script>
        <script src="js/ngEnter.js"></script>
        
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">

		<title>The Survevy Network</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body data-ng-app="survevyNetwork">
		<div class="container-fluid"> Welcome to the Survevy Network <br>
            <a href="#/logout" ng-click="dataFactory.setUser({})">Logout</a>
			<div data-ng-view>
			</div>

		</div>
	</body>
</html>
