<div ng-controller="loginController">
	<h1>Login</h1>
	<input type="text" ng-model="currUsername" ng-enter="login()" placeholder="Username"><br>
	<input type="password" ng-model="currPassword" ng-enter="login()" placeholder="Password"><br>
	<button ng-click="login()">Login</button><br>
	<a href="#register">Register for a new account</a><br>
	<a href="#passwordrecovery">Forgot your password?</a><br>
</div>
