<article>
    <img ng-src= "{{post.pic}}" style= "width:40px; height:40px" class="postTag" ng-click = "viewFriendsProfile(post.poster)">
    <p class ="poster">{{post.poster}}</p>
	<textarea rows="5" cols="100" readonly class="postText">{{post.text}}</textarea><br>
	<div class="postData">
		<p><i>Date: {{post.date | timeSinceDateFilter}}</i></p>
		<like-directive info="post"></like-directive>
	</div>
        <div class="comments">
            <p><b>Comments</b></p>
			<div ng-if="post.comments.length==0">
				<p>No comments!</p>	
			</div>
			<div ng-repeat="comment in post.comments">
				<comment-directive info=comment></comment-directive>
			</div>
			<textarea rows="3" cols="50" placeholder="Hey! Enter a new comment here" ng-model="newComment" class="commentMaker"></textarea><br>
			<button ng-click="addNewComment()">Comment</button>
        </div>
	</div></article>
