<div ng-controller="ProfileController">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <button ng-click= "goToFeed()">Feed</button>
	<body>
        <div ng-if="currentUser==profileUser">
                <button ng-click="editProfile()">Toggle Edit</button>
        </div>
        
        <div class="avatarArea">
            <img ng-click="changePicture()" ng-src="{{profileUser.pictureUrl}}" width="100px" height="100px" class="pull-left">
            <p class="name" ng-hide="editMode">{{profileUser.realName}}</p>
            <input ng-hide="!editMode" type="text" ng-model="profileUser.realName">
            <p class="bio" ng-hide="editMode">{{profileUser.bioText}}</p>
            <textarea ng-hide="!editMode" ng-model="profileUser.bioText"></textarea>
        </div>
        
        <div class="postArea">
            <textarea ng-model="postText" placeholder="What's up?" id="submitBox" class="pull-left"></textarea>
            <button ng-click="makePost()" class="submit">Submit</button>
        </div>
        
		<div ng-repeat="post in getCurrentPosts()" class="post">
			<post-directive info="post">Please wait while the posts load</post-directive>
		</div>
        
	</body>
</div>
