<div class="row" ng-controller="registrationControl">
    <div class= registrationBlock>
	<h1 class= registerHeader>Create your account</h1>
    
            <input ng-enter="makeNewUser()" type="text" ng-model="newUsername" placeholder="Enter a new username"><br>
            <input ng-enter="makeNewUser()" type="password" ng-model="newPassword" placeholder="Enter a new password"><br>
	        <input ng-enter="makeNewUser()" type="password" ng-model="newPasswordConfirm" placeholder="Confirm new password"><br>
	        <button ng-click="makeNewUser()">Submit</button><br>
        
    </div>
</div>
